<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Welcome to the Posts Page</h1>

    <% if (posts && posts.length > 0) { %>
    <% posts.forEach(post => { %>
        <div>
        <h3><%= post.title %></h3>
        <p><%= post.description %></p>
        <small>Author: <%= post.author %></small>
        <hr>
        </div>
    <% }) %>
    <% } else { %>
    <p>No posts found</p>
    <% } %>
</body>
</html>
